<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>
{{!-- {{else}}
<h6 class="pb-4 has-text-centered is-italic">Currently no posts is here</h6>
{{/each}} --}}